<div id="footer">
  <div class="span1"><%= image_tag 'w_logo.gif', style: "display:block;float:left;" %></div>
  <div class="pull-left span3">
   <h4>Technical Support: 507-555-5555</h4>
   <p>Application development by Winona State University<br />
     Winona State University | P.O. Box 5838 | 175 West Mark Street | Winona, MN 55987<br />
     507.457.5000 | 1.800.342.5978 | TTY: 877-627-3848 | <a href="/privacy">Privacy</a> | <a href="mailto:webmaster@winona.edu">webmaster@winona.edu</a></p>
  </div>
  
  <div class="span2"><%= image_tag 'WSUDev_badge.png', class: "pull-right", style: "margin-right:-63px;"%></div>
</div>