
<h1>Alerts</h1>

<hr />
<a name="warning"></a>
<h3>Warning Alert</h3>
<div class="show-hide-links">
  <a href="#" id="show-alert">Show Alert</a> | 
  <a href="#" id="hide-alert">Hide Alert</a>
</div>
<div class="alert">
  <a class="close" data-dismiss="alert">×</a>
  <strong>Warning!</strong> This is an alert block. Clicking the 'X' deletes this div.<br />
  Yellow background: #fef7a6<br />
  Warm Red text: #f26432
</div>

<pre class="prettyprint code">
  &lt;div class="alert"&gt;
    &lt;a class="close" data-dismiss="alert"&gt;×&lt;/a&gt;
    &lt;strong&gt;Warning!&lt;/strong&gt; This is an alert block. Clicking the 'X' deletes this div.&lt;br /&gt;
    Yellow background: #fef7a6&lt;br /&gt;
    Warm Red text: #f26432
  &lt;/div&gt;
</pre>

<a name="error"></a>
<h3>Error Alert</h3>
<div class="show-hide-links">
  <a href="#" id="show-alert-error">Show Alert</a> | 
  <a href="#" id="hide-alert-error">Hide Alert</a>
</div>
<div class="alert alert-error">
  <a class="close" data-dismiss="alert">×</a>
  <strong>Error!</strong> This is an error alert block. Clicking the 'X' deletes this div.<br />
  Warm Red background: #f26432<br />
  White text: #ffffff
</div>

<pre class="prettyprint code">
  &lt;div class="alert alert-error"&gt;
    &lt;a class="close" data-dismiss="alert"&gt;×&lt;/a&gt;
    &lt;strong&gt;Error or Danger!&lt;/strong&gt; This is an error or danger alert block. Clicking the 'X' deletes this div.&lt;br /&gt;
    Warm Red background: #f26432&lt;br /&gt;
    White text: #ffffff
  &lt;/div&gt;
</pre>

<a name="success"></a>
<h3>Success</h3>
<div class="show-hide-links">
  <a href="#" id="show-alert-success">Show Alert</a> | 
  <a href="#" id="hide-alert-success">Hide Alert</a>
</div>
<div class="alert alert-success">
  <a class="close" data-dismiss="alert">×</a>
  <strong>Success</strong> This is a success message block. Clicking the 'X' deletes this div. <br />
  Light Green background: #e2f3bf<br />
  Green text: #83c005
</div>

<pre class="prettyprint code">
  &lt;div class="alert alert-success"&gt;
    &lt;a class="close" data-dismiss="alert"&gt;×&lt;/a&gt;
    &lt;strong&gt;Success&lt;/strong&gt; This is a success message block. Clicking the 'X' deletes this div. &lt;br /&gt;
    Light Green background: #e2f3bf&lt;br /&gt;
    White text: #83c005
  &lt;/div&gt;
</pre>



<script>
  (function() {
    $('#hide-alert').click(function() {
      console.log('hide alert');
      $('div.alert').css('display', 'none');
    });
    $('#show-alert').click(function() {
      console.log('show alert');
      $('div.alert').css('display', 'block');
    });
    
    $('#hide-alert-error').click(function() {
      console.log('hide alert');
      $('div.alert.alert-error').css('display', 'none');
    });
     $('#show-alert-error').click(function() {
        console.log('show alert');
        $('div.alert.alert-error').css('display', 'block');
      });
      
     $('#hide-alert-success').click(function() {
        console.log('hide alert');
        $('div.alert.alert-success').css('display', 'none');
      });
     $('#show-alert-success').click(function() {
        console.log('show alert');
        $('div.alert.alert-success').css('display', 'block');
      });
    
    
    
    
    $('.close').click(function() {
      $('.show-hide-links').replaceWith('<a href="/alerts">Reload page to see alert</a>')
    })
  
  })();
</script>

<hr />

<a name="modal"></a>
<h3>Modal Window</h3>
<!-- Modal button -->
<a class="btn" data-toggle="modal" href="#myModal" >Launch Modal</a>

<!-- Modal Window -->
<div class="modal hide fade" id="myModal" style="display:hide;">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Modal Header</h3>
  </div>
  <div class="modal-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>
<br /><br />

<pre class="prettyprint code">
  &lt;!-- Modal button --&gt;
  &lt;a class="btn" data-toggle="modal" href="#myModal" &gt;Launch Modal&lt;/a&gt;

  &lt;!-- Modal Window --&gt;
  &lt;div class="modal hide fade" id="myModal" style="display:hide;"&gt;
    &lt;div class="modal-header"&gt;
      &lt;button class="close" data-dismiss="modal"&gt;×&lt;/button&gt;
      &lt;h3&gt;Modal header&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class="modal-body"&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="modal-footer"&gt;
      &lt;a href="#" class="btn" data-dismiss="modal"&gt;Close&lt;/a&gt;
      &lt;a href="#" class="btn btn-primary"&gt;Save changes&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
</pre>

<hr />
<a name="tooltips"></a>
<h3>Tooltips</h3>
<p>This is an example of <a href="#" id= "example" rel="tooltip" title="This is a tooltip">tooltips</a>.</p>

<script>
  (function(){
    $('#example').tooltip('hide')
  })();
</script>

<pre class="prettyprint code">
  &lt;h3&gt;Tooltips&lt;/h3&gt;
   &lt;p&gt;This is an example of &lt;a href="#" id= "example" rel="tooltip" title="This is a tooltip"&gt;tooltips&lt;/a&gt;.&lt;/p&gt;

   &lt;script&gt;
     (function(){
       $('#example').tooltip('hide')
     })();
   &lt;/script&gt;
</pre>

<hr />

<a name="popover"></a>
<h3>Popovers</h3>
<p><a href="#" id="popoverex" class="btn" rel="popover" data-content="This is an example of a popover" data-original-title="A Popover">Hover over this button</a></p>

<script>
  (function() {
    $('#popoverex').popover('hide');
  })();
</script>

<pre class="prettyprint code">
  &lt;h3&gt;Popovers&lt;/h3&gt;
   &lt;p&gt;&lt;a href="#" id="popoverex" class="btn" rel="popover" data-content="This is an example of a popover" data-original-title="A Popover"&gt;Hover over this button&lt;/a&gt;&lt;/p&gt;

   &lt;script&gt;
     (function() {
       $('#popoverex').popover('hide');
     })();
   &lt;/script&gt;
</pre>


