<% provide(:header_title, 'Basic')%>

<h2>Basic</h2>
<hr />

<a name="breadcrumbs"></a>
<h3>Breadcrumbs</h3>
<ul class="breadcrumb">
  <li>
    <a href="#">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#">Library</a> <span class="divider">/</span>
  </li>
  <li class="active">Data</li>
</ul>

<pre class="prettyprint code">
  &lt;ul class="breadcrumb"&gt;
    &lt;li&gt;
      &lt;a href="#"&gt;Home&lt;/a&gt; &lt;span class="divider"&gt;/&lt;/span&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href="#"&gt;Library&lt;/a&gt; &lt;span class="divider"&gt;/&lt;/span&gt;
    &lt;/li&gt;
    &lt;li class="active"&gt;Data&lt;/li&gt;
  &lt;/ul&gt;
</pre>

<hr />

<a name="colors"></a>
<h3>Colors</h3>
<div class="show-grid">
  <h4>Primary Colors</h4>
  <div class="row">
    <div class="span3 purple-background padding10 white">.purple<br />#4814a0</div>
    <div class="span3 blue-background padding10 white">.blue<br />#00aef0</div>
    <div class="span3 warm-red-background padding10 white">.warm-red<br />#f26432</div>
    
  </div>
  <h4>Secondary Colors</h4>
  <div class="row">
  
    <div class="span2 orange-background padding10 white">.orange<br />#f78f1e</div>
    <div class="span2 green-background padding10 white">.green<br />#8fd400</div>
    <div class="span2 fortygray-background padding10 white">.fortygray<br />#a7a9ac</div>
    <div class="span2 eightygray-background padding10 white">.eightygray<br />#58595b</div>
    
  </div>
  
  <h4>Table Colors</h4>
  <div class="row">
    <div class="span2 yellow-background padding10">.yellow &lt;th&gt;<br />#fef7a6</div>
    <div class="span2 white-background padding10" style="border:1px solid #cdcdcd;">White - Even &lt;tr&gt;<br />#ffffff</div>
    <div class="span2 light-blue-background padding10">.light-blue - Odd &lt;tr&gt;<br />#e5f7fd</div>
    
   
    
  </div>
</div>
  
<hr />
<a name="headers"></a>
<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 5</h5>
<h6>Header 6</h6>

<hr />

<a name="paragraph"></a>
<h3>Paragraph</h3>
<p><img src="http://placehold.it/260x180" alt="" style="float:right;margin:0 20px 20px 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p><img src="http://placehold.it/260x180" alt="" style="float:left;margin:0 20px 20px 0px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


<hr />
<a name="lists"></a>
<h3>Lists</h3>
<div class="row">
  <div class="span3">
    <h3>Unordered List</h3>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
        <li>Item 6</li>
        <li>Item 7</li>
        <li>Item 8</li>
        <li>Item 9</li>
        <li>Item 10</li>
      </ul>
  </div>
  <div class="span9">
    <pre class="prettyprint code">
      &lt;h3&gt;Unordered List&lt;/h3&gt;
        &lt;ul&gt;
          &lt;li&gt;Item 1&lt;/li&gt;
          &lt;li&gt;Item 2&lt;/li&gt;
          &lt;li&gt;Item 3&lt;/li&gt;
          &lt;li&gt;Item 4&lt;/li&gt;
          &lt;li&gt;Item 5&lt;/li&gt;
          &lt;li&gt;Item 6&lt;/li&gt;
          &lt;li&gt;Item 7&lt;/li&gt;
          &lt;li&gt;Item 8&lt;/li&gt;
          &lt;li&gt;Item 9&lt;/li&gt;
          &lt;li&gt;Item 10&lt;/li&gt;
        &lt;/ul&gt;
    </pre>
  </div>
</div>

<div class="row">
  <div class="span3">
    <h3>Ordered List</h3>
    <ol>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
      <li>Item 5</li>
      <li>Item 6</li>
      <li>Item 7</li>
      <li>Item 8</li>
      <li>Item 9</li>
      <li>Item 10</li>
    </ol>
    </div>
    <div class="span9">
      <pre class="prettyprint code">
        &lt;h3&gt;Unordered List&lt;/h3&gt;
          &lt;ol&gt;
            &lt;li&gt;Item 1&lt;/li&gt;
            &lt;li&gt;Item 2&lt;/li&gt;
            &lt;li&gt;Item 3&lt;/li&gt;
            &lt;li&gt;Item 4&lt;/li&gt;
            &lt;li&gt;Item 5&lt;/li&gt;
            &lt;li&gt;Item 6&lt;/li&gt;
            &lt;li&gt;Item 7&lt;/li&gt;
            &lt;li&gt;Item 8&lt;/li&gt;
            &lt;li&gt;Item 9&lt;/li&gt;
            &lt;li&gt;Item 10&lt;/li&gt;
          &lt;/ol&gt;
      </pre>
    </div>
</div>
<hr />

<a name="contained_table"></a>
<h3>Contained Table <%= link_to 'See fluid version', fluid_path, target: 'new', class: 'pull-right' %></h3>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Email</th>
      <th>High School</th>
      <th>Counselor</th>
      
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>1</td>
        <td><a href="/students/1">Napoleon Lesch</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>edyth@quigley.info</td>
        <td>Sanford Inc</td>
        <td>Marcos Greenfelder II</td>
        
      </tr>
      <tr>
        <td>2</td>
        <td><a href="/students/2">Lane Hermann</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>gordon@smith.com</td>
        <td>Howell-Schuppe</td>
        <td>Macy Bechtelar</td>
        
      </tr>
      <tr>
        <td>3</td>
        <td><a href="/students/3">Ahmed Reichert</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>scarlett@runolfonmarvin.name</td>
        <td>Ortiz-Wyman</td>
        <td>Ortiz-Wyman</td>
       
      </tr>
      <tr>
        <td>4</td>
        <td><a href="/students/4">Jessica Orn</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>wendell@kreigerschinner.net</td>
        <td>Ratke-Rosenbaum</td>
        <td>Ortiz-Wyman</td>
       
      </tr>
      <tr>
        <td>5</td>
        <td><a href="/students/5">Miss Dane Thompson</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>shawna_wunsch@schmeler.name</td>
        <td>Nader Inc</td>
        <td>Eddie Beatty</td>
      </tr>
    </table>
    
    <pre class="prettyprint code">
      &lt;h2&gt;Contained Table&lt;/h2&gt;
      &lt;table class="table table-striped table-bordered table-condensed"&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;ID&lt;/th&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Created at&lt;/th&gt;
            &lt;th&gt;Email&lt;/th&gt;
            &lt;th&gt;High School&lt;/th&gt;
            &lt;th&gt;Counselor&lt;/th&gt;

          &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
              &lt;td&gt;1&lt;/td&gt;
              &lt;td&gt;&lt;a href="/students/1"&gt;Napoleon Lesch&lt;/a&gt;&lt;/td&gt;
              &lt;td&gt;2012-03-19 15:06:07 UTC&lt;/td&gt;
              &lt;td&gt;edyth@quigley.info&lt;/td&gt;
              &lt;td&gt;Sanford Inc&lt;/td&gt;
              &lt;td&gt;Marcos Greenfelder II&lt;/td&gt;

            &lt;/tr&gt;
           ...
            &lt;tr&gt;
              &lt;td&gt;5&lt;/td&gt;
              &lt;td&gt;&lt;a href="/students/5"&gt;Miss Dane Thompson&lt;/a&gt;&lt;/td&gt;
              &lt;td&gt;2012-03-19 15:06:07 UTC&lt;/td&gt;
              &lt;td&gt;shawna_wunsch@schmeler.name&lt;/td&gt;
              &lt;td&gt;Nader Inc&lt;/td&gt;
              &lt;td&gt;Eddie Beatty&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/table&gt;
    </pre>

<hr />

<a name="search"></a>
<h3>Search</h3>
<form class="well form-search">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">Search</button>
</form>

<pre class="prettyprint code">
   &lt;form class="well form-search"&gt;
      &lt;input type="text" class="input-medium search-query"&gt;
      &lt;button type="submit" class="btn"&gt;Search&lt;/button&gt;
    &lt;/form&gt;
</pre>

<hr />

<a name="pagination"></a>
<h3>Pagination - Wizard Steps</h3>
<div class="pagination" style="">
  <ul>
    <li><a href="#"><i class="prev-arrow"></i>Prev</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next<i class="next-arrow"></i></a></li>
  </ul>
</div>

<pre class="prettyprint code">
  &lt;div class="pagination" style=""&gt;
    &lt;ul&gt;
      &lt;li&gt;&lt;a href="#"&gt;&lt;i class="prev-arrow"&gt;&lt;/i&gt;Prev&lt;/a&gt;&lt;/li&gt;
      &lt;li class="active"&gt;
        &lt;a href="#"&gt;1&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;2&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;4&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Next&lt;i class="next-arrow"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
  
</pre>