<h2><%= @header_title %></h2>

<h3>Left Sidebar</h3>
  <div class="row-fluid">
    <div class="span3 fortygray-background">.span3</div>
    <div class="span9 fortygray-background">.span9</div>
  </div>
  
  <div class="row-fluid">
    <div class="span4 fortygray-background">.span4</div>
    <div class="span8 fortygray-background">.span8</div>
  </div>
  
  <pre class="prettyprint code">
    &lt;div class="row-fluid"&gt;
      &lt;div class="span3 fortygray-background"&gt;.span3&lt;/div&gt;
      &lt;div class="span9 fortygray-background"&gt;.span9&lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="row-fluid"&gt;
      &lt;div class="span4 fortygray-background"&gt;.span4&lt;/div&gt;
      &lt;div class="span8 fortygray-background"&gt;.span8&lt;/div&gt;
    &lt;/div&gt;
  </pre>
  
  <hr/>
<h3>Two/Three Columns</h3>
  <div class="row-fluid">
     <div class="span6 fortygray-background">.span6</div>
     <div class="span6 fortygray-background">.span6</div>
   </div>
    
  <div class="row-fluid">
      <div class="span4 fortygray-background">.span4</div>
      <div class="span4 fortygray-background">.span4</div>
      <div class="span4 fortygray-background">.span4</div>
  </div>
  
<pre class="prettyprint code">
  &lt;div class="row-fluid"&gt;
     &lt;div class="span6 fortygray-background"&gt;.span6&lt;/div&gt;
     &lt;div class="span6 fortygray-background"&gt;.span6&lt;/div&gt;
   &lt;/div&gt;

  &lt;div class="row-fluid"&gt;
      &lt;div class="span4 fortygray-background"&gt;.span4&lt;/div&gt;
      &lt;div class="span4 fortygray-background"&gt;.span4&lt;/div&gt;
      &lt;div class="span4 fortygray-background"&gt;.span4&lt;/div&gt;
  &lt;/div&gt;
  
</pre>

<hr />
  
<h3>Right Sidebar</h3>
  <div class="row-fluid">
     <div class="span8 fortygray-background">.span8</div>
     <div class="span4 fortygray-background">.span4</div>
   </div>
   
   <div class="row-fluid">
      <div class="span9 fortygray-background">.span9</div>
      <div class="span3 fortygray-background">.span3</div>
   </div>
    
<pre class="prettyprint code">
  &lt;div class="row-fluid"&gt;
     &lt;div class="span8 fortygray-background"&gt;.span8&lt;/div&gt;
     &lt;div class="span4 fortygray-background"&gt;.span4&lt;/div&gt;
   &lt;/div&gt;

  &lt;div class="row-fluid"&gt;
    &lt;div class="span9 fortygray-background"&gt;.span9&lt;/div&gt;
    &lt;div class="span3 fortygray-background"&gt;.span3&lt;/div&gt;
  &lt;/div&gt;

</pre>

<hr />
<h2>Big Table Layout</h2>

  <pre class="prettyprint code">
    &lt;div class="content"&gt;
      &lt;div class="container-float fl-cont-padding"&gt;
          
          &lt;table class="table table-striped table-bordered table-condensed"&gt;
              
                ...
                
          &lt;/table&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  </pre>



<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Email</th>
      <th>High School</th>
      <th>Counselor</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>1</td>
        <td><a href="/students/1">Napoleon Lesch</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>edyth@quigley.info</td>
        <td>Sanford Inc</td>
        <td>Marcos Greenfelder II</td>
        <td>9288 Kailee Village</td>
        <td>Damarismouth</td>
        <td>New Mexico</td>
        <td>
          <a href="/students/1/edit" class="btn btn-mini">Edit</a>
          <a href="/students/1" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td><a href="/students/2">Lane Hermann</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>gordon@smith.com</td>
        <td>Howell-Schuppe</td>
        <td>Macy Bechtelar</td>
        <td>64268 Alexie Streets</td>
        <td>Kallieville</td>
        <td>Oregon</td>
        <td>
          <a href="/students/2/edit" class="btn btn-mini">Edit</a>
          <a href="/students/2" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td><a href="/students/3">Ahmed Reichert</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>scarlett@runolfonmarvin.name</td>
        <td>Ortiz-Wyman</td>
        <td>Johnson Haag</td>
        <td>24415 Alvera Freeway</td>
        <td>New Chelseyland</td>
        <td>North Carolina</td>
        <td>
          <a href="/students/3/edit" class="btn btn-mini">Edit</a>
          <a href="/students/3" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td><a href="/students/4">Jessica Orn</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>wendell@kreigerschinner.net</td>
        <td>Ratke-Rosenbaum</td>
        <td>Helmer Robel</td>
        <td>23719 Florida Mount</td>
        <td>South Herbertshire</td>
        <td>Connecticut</td>
        <td>
          <a href="/students/4/edit" class="btn btn-mini">Edit</a>
          <a href="/students/4" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>5</td>
        <td><a href="/students/5">Miss Dane Thompson</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>shawna_wunsch@schmeler.name</td>
        <td>Nader Inc</td>
        <td>Eddie Beatty</td>
        <td>858 Keeling Heights</td>
        <td>Collinsmouth</td>
        <td>Tennessee</td>
        <td>
          <a href="/students/5/edit" class="btn btn-mini">Edit</a>
          <a href="/students/5" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>6</td>
        <td><a href="/students/6">Tyree Muller</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>oswaldo@prohaskaparker.info</td>
        <td>Hamill, Boyle and Gutmann</td>
        <td>Vladimir Witting</td>
        <td>404 Roy Lock</td>
        <td>Schambergerberg</td>
        <td>Nebraska</td>
        <td>
          <a href="/students/6/edit" class="btn btn-mini">Edit</a>
          <a href="/students/6" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>7</td>
        <td><a href="/students/7">Summer Wilderman</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>damion_lubowitz@feil.name</td>
        <td>Herman, Grimes and Cole</td>
        <td>Catharine Satterfield</td>
        <td>142 Wisoky Mountains</td>
        <td>Bernierberg</td>
        <td>Iowa</td>
        <td>
          <a href="/students/7/edit" class="btn btn-mini">Edit</a>
          <a href="/students/7" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>8</td>
        <td><a href="/students/8">Libbie Botsford</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>joel@brakus.info</td>
        <td>Beatty-Conn</td>
        <td>Alverta Hackett</td>
        <td>9359 Reilly Brook</td>
        <td>Binsville</td>
        <td>Indiana</td>
        <td>
          <a href="/students/8/edit" class="btn btn-mini">Edit</a>
          <a href="/students/8" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>9</td>
        <td><a href="/students/9">Adrianna Kozey</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>sydni.mertz@bosco.com</td>
        <td>Ruecker Inc</td>
        <td>Margaretta Greenfelder</td>
        <td>2417 Thompson Lodge</td>
        <td>Corkeryhaven</td>
        <td>Massachusetts</td>
        <td>
          <a href="/students/9/edit" class="btn btn-mini">Edit</a>
          <a href="/students/9" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>10</td>
        <td><a href="/students/10">Frankie Metz MD</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>osbaldo_rutherford@hintz.name</td>
        <td>Schumm, Jaskolski and Bode</td>
        <td>Scotty Stiedemann</td>
        <td>5495 Elena Unions</td>
        <td>New Hassie</td>
        <td>Virginia</td>
        <td>
          <a href="/students/10/edit" class="btn btn-mini">Edit</a>
          <a href="/students/10" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>11</td>
        <td><a href="/students/11">Rafaela Mosciski</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>jazlyn.mccullough@wisoky.name</td>
        <td>Jakubowski, Rempel and Ebert</td>
        <td>Pansy Luettgen I</td>
        <td>89170 Senger Trafficway</td>
        <td>Constantinburgh</td>
        <td>Nevada</td>
        <td>
          <a href="/students/11/edit" class="btn btn-mini">Edit</a>
          <a href="/students/11" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>12</td>
        <td><a href="/students/12">Dr. Payton Bruen</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>delta@kuhickozey.info</td>
        <td>King Group</td>
        <td>Adriel Miller</td>
        <td>957 Koepp Pike</td>
        <td>Barneyfurt</td>
        <td>Alaska</td>
        <td>
          <a href="/students/12/edit" class="btn btn-mini">Edit</a>
          <a href="/students/12" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>13</td>
        <td><a href="/students/13">Miss Gerhard Leannon</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>hobart_muller@legros.com</td>
        <td>Morissette, Ratke and Watsica</td>
        <td>Emely Bahringer</td>
        <td>72562 Robyn Islands</td>
        <td>Meaghanland</td>
        <td>Delaware</td>
        <td>
          <a href="/students/13/edit" class="btn btn-mini">Edit</a>
          <a href="/students/13" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>14</td>
        <td><a href="/students/14">Casimir Mayer MD</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>bryon@stromanjenkins.biz</td>
        <td>Kessler and Sons</td>
        <td>Joanie Conn V</td>
        <td>70683 Macejkovic Path</td>
        <td>South Ricoborough</td>
        <td>Texas</td>
        <td>
          <a href="/students/14/edit" class="btn btn-mini">Edit</a>
          <a href="/students/14" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>15</td>
        <td><a href="/students/15">Tanya Mills III</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>santos@murray.name</td>
        <td>Pouros-Wiegand</td>
        <td>Mrs. Samantha Keeling</td>
        <td>756 Hugh Meadows</td>
        <td>New Janybury</td>
        <td>Texas</td>
        <td>
          <a href="/students/15/edit" class="btn btn-mini">Edit</a>
          <a href="/students/15" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>16</td>
        <td><a href="/students/16">Velva Schmeler</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>lelah@ortiz.net</td>
        <td>Walsh Inc</td>
        <td>Theodora Davis</td>
        <td>8933 Hettinger Corner</td>
        <td>New Deangelo</td>
        <td>West Virginia</td>
        <td>
          <a href="/students/16/edit" class="btn btn-mini">Edit</a>
          <a href="/students/16" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>17</td>
        <td><a href="/students/17">Mafalda Lueilwitz</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>dorthy@buckridge.biz</td>
        <td>Howe, Sauer and Feest</td>
        <td>Mr. Elyssa Ryan</td>
        <td>5935 Mueller Shoal</td>
        <td>Cliftonshire</td>
        <td>Florida</td>
        <td>
          <a href="/students/17/edit" class="btn btn-mini">Edit</a>
          <a href="/students/17" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>18</td>
        <td><a href="/students/18">Kellie Hirthe</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>shaun_turcotte@upton.biz</td>
        <td>Grimes, Grady and Hickle</td>
        <td>Janelle Price PhD</td>
        <td>207 Harber Greens</td>
        <td>Port Khalid</td>
        <td>Wisconsin</td>
        <td>
          <a href="/students/18/edit" class="btn btn-mini">Edit</a>
          <a href="/students/18" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>19</td>
        <td><a href="/students/19">Adrianna Metz III</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>brent.krajcik@grady.biz</td>
        <td>Beatty, Purdy and Pagac</td>
        <td>Ona Franecki</td>
        <td>2951 Jenkins Cliffs</td>
        <td>East Burley</td>
        <td>Minnesota</td>
        <td>
          <a href="/students/19/edit" class="btn btn-mini">Edit</a>
          <a href="/students/19" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>20</td>
        <td><a href="/students/20">Harmony Orn</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>jalen_kovacek@schultz.com</td>
        <td>Legros Inc</td>
        <td>Sedrick O'Kon</td>
        <td>80733 Borer Land</td>
        <td>North Britney</td>
        <td>North Carolina</td>
        <td>
          <a href="/students/20/edit" class="btn btn-mini">Edit</a>
          <a href="/students/20" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>21</td>
        <td><a href="/students/21">Clemmie Bashirian</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>bryon.dare@leannonnolan.org</td>
        <td>Lindgren and Sons</td>
        <td>Sandrine Effertz</td>
        <td>5140 Gudrun Village</td>
        <td>Marvinberg</td>
        <td>Michigan</td>
        <td>
          <a href="/students/21/edit" class="btn btn-mini">Edit</a>
          <a href="/students/21" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>22</td>
        <td><a href="/students/22">Miss Hellen Crist</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>litzy@feil.name</td>
        <td>Monahan, Ward and Trantow</td>
        <td>Miss Effie Reichert</td>
        <td>94881 Herman Loaf</td>
        <td>New Haventon</td>
        <td>Hawaii</td>
        <td>
          <a href="/students/22/edit" class="btn btn-mini">Edit</a>
          <a href="/students/22" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>23</td>
        <td><a href="/students/23">Lorenz Becker</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>lorenzo@oberbrunnerbatz.info</td>
        <td>White LLC</td>
        <td>Francisca Schuster</td>
        <td>9333 Stehr Estates</td>
        <td>Darrenton</td>
        <td>Michigan</td>
        <td>
          <a href="/students/23/edit" class="btn btn-mini">Edit</a>
          <a href="/students/23" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>24</td>
        <td><a href="/students/24">Adele Gusikowski</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>lew@kohler.name</td>
        <td>Kessler, Lubowitz and Lehner</td>
        <td>Manley Ankunding</td>
        <td>599 Harris Ranch</td>
        <td>New Ronaldo</td>
        <td>Washington</td>
        <td>
          <a href="/students/24/edit" class="btn btn-mini">Edit</a>
          <a href="/students/24" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>25</td>
        <td><a href="/students/25">Noel Daniel</a></td>
        <td>2012-03-19 15:06:07 UTC</td>
        <td>dustin@cormier.com</td>
        <td>Wolf, Kling and O'Keefe</td>
        <td>Bulah Koepp</td>
        <td>29704 Batz Gateway</td>
        <td>North Beatrice</td>
        <td>Alaska</td>
        <td>
          <a href="/students/25/edit" class="btn btn-mini">Edit</a>
          <a href="/students/25" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>26</td>
        <td><a href="/students/26">Araceli Collins</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>otto.purdy@darefritsch.name</td>
        <td>Beahan LLC</td>
        <td>Easter Raynor</td>
        <td>93555 Little Track</td>
        <td>Claudineside</td>
        <td>Colorado</td>
        <td>
          <a href="/students/26/edit" class="btn btn-mini">Edit</a>
          <a href="/students/26" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>27</td>
        <td><a href="/students/27">Collin Wiegand</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>jermain@blanda.info</td>
        <td>Hane Inc</td>
        <td>Tobin Wyman</td>
        <td>290 Aidan Fields</td>
        <td>Funkland</td>
        <td>Hawaii</td>
        <td>
          <a href="/students/27/edit" class="btn btn-mini">Edit</a>
          <a href="/students/27" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>28</td>
        <td><a href="/students/28">Newell Kuhlman</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>brennan@powlowski.biz</td>
        <td>Rolfson LLC</td>
        <td>Zackary Lehner</td>
        <td>24887 Ivory Locks</td>
        <td>Darwinchester</td>
        <td>Iowa</td>
        <td>
          <a href="/students/28/edit" class="btn btn-mini">Edit</a>
          <a href="/students/28" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>29</td>
        <td><a href="/students/29">Jules O'Reilly</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>gwen@ruelabernathy.info</td>
        <td>Daugherty Group</td>
        <td>Miss Estefania Lehner</td>
        <td>4184 Kristin Ridges</td>
        <td>Port Wilford</td>
        <td>New Hampshire</td>
        <td>
          <a href="/students/29/edit" class="btn btn-mini">Edit</a>
          <a href="/students/29" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>30</td>
        <td><a href="/students/30">Ayana Kling DVM</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>van_oberbrunner@veum.biz</td>
        <td>Schinner-Krajcik</td>
        <td>Kassandra Johnston</td>
        <td>84261 Cole Glens</td>
        <td>Angeloville</td>
        <td>Texas</td>
        <td>
          <a href="/students/30/edit" class="btn btn-mini">Edit</a>
          <a href="/students/30" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>31</td>
        <td><a href="/students/31">Ardella Ward</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>paula_spencer@romaguera.com</td>
        <td>Wuckert LLC</td>
        <td>Mathew Sauer</td>
        <td>56753 Cloyd Trace</td>
        <td>East Tommie</td>
        <td>Alabama</td>
        <td>
          <a href="/students/31/edit" class="btn btn-mini">Edit</a>
          <a href="/students/31" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>32</td>
        <td><a href="/students/32">Marcel Bashirian Jr.</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>christophe_lueilwitz@ruecker.info</td>
        <td>Hayes LLC</td>
        <td>Mabel Gusikowski</td>
        <td>6438 Turner Falls</td>
        <td>Gorczanyberg</td>
        <td>Delaware</td>
        <td>
          <a href="/students/32/edit" class="btn btn-mini">Edit</a>
          <a href="/students/32" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>33</td>
        <td><a href="/students/33">Antonia Fay</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>carlie_frami@heidenreich.org</td>
        <td>Walsh, Runte and Nader</td>
        <td>Samir Ruecker</td>
        <td>591 Ruben Fords</td>
        <td>Mannborough</td>
        <td>North Carolina</td>
        <td>
          <a href="/students/33/edit" class="btn btn-mini">Edit</a>
          <a href="/students/33" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>34</td>
        <td><a href="/students/34">Bart Pfannerstill</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>herman@stokespaucek.com</td>
        <td>Lang, Doyle and Kuhn</td>
        <td>Gino Gulgowski</td>
        <td>896 Labadie Circle</td>
        <td>Tavareston</td>
        <td>Arizona</td>
        <td>
          <a href="/students/34/edit" class="btn btn-mini">Edit</a>
          <a href="/students/34" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>35</td>
        <td><a href="/students/35">Bennett Sipes</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>retha_kozey@veum.biz</td>
        <td>Nitzsche, Tremblay and Ullrich</td>
        <td>Jacquelyn Huel</td>
        <td>405 Emmanuelle Parks</td>
        <td>Port Kurtchester</td>
        <td>South Dakota</td>
        <td>
          <a href="/students/35/edit" class="btn btn-mini">Edit</a>
          <a href="/students/35" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>36</td>
        <td><a href="/students/36">Jany Homenick</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>lorenzo.veum@reichertreinger.biz</td>
        <td>Blick-Lind</td>
        <td>Adriana Torphy IV</td>
        <td>1278 Aniya Oval</td>
        <td>Camyllehaven</td>
        <td>Illinois</td>
        <td>
          <a href="/students/36/edit" class="btn btn-mini">Edit</a>
          <a href="/students/36" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>37</td>
        <td><a href="/students/37">Ms. Wilmer Hettinger</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>cade@schiller.info</td>
        <td>Rohan-Schoen</td>
        <td>Maddison Ernser</td>
        <td>24338 Letitia Lakes</td>
        <td>Schulistland</td>
        <td>Maine</td>
        <td>
          <a href="/students/37/edit" class="btn btn-mini">Edit</a>
          <a href="/students/37" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>38</td>
        <td><a href="/students/38">Josephine Williamson</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>london@baumbachmuller.org</td>
        <td>Bernier, Lakin and Yost</td>
        <td>Ashtyn Heaney</td>
        <td>42762 Kohler Viaduct</td>
        <td>Erinhaven</td>
        <td>North Dakota</td>
        <td>
          <a href="/students/38/edit" class="btn btn-mini">Edit</a>
          <a href="/students/38" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>39</td>
        <td><a href="/students/39">Mr. Lillian Rolfson</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>margarett.rippin@kerluke.biz</td>
        <td>Lebsack LLC</td>
        <td>Pansy Batz</td>
        <td>808 Stone Light</td>
        <td>Avafort</td>
        <td>West Virginia</td>
        <td>
          <a href="/students/39/edit" class="btn btn-mini">Edit</a>
          <a href="/students/39" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>40</td>
        <td><a href="/students/40">Buster Medhurst</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>rylan@kihn.org</td>
        <td>Heidenreich-McLaughlin</td>
        <td>Jorge Jerde</td>
        <td>6877 Lueilwitz Ways</td>
        <td>O'Keefeland</td>
        <td>Pennsylvania</td>
        <td>
          <a href="/students/40/edit" class="btn btn-mini">Edit</a>
          <a href="/students/40" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>41</td>
        <td><a href="/students/41">Mona Kassulke</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>rod@runolfon.org</td>
        <td>Fadel-Frami</td>
        <td>Lina Leffler</td>
        <td>1614 Sonny Pines</td>
        <td>Faystad</td>
        <td>New Mexico</td>
        <td>
          <a href="/students/41/edit" class="btn btn-mini">Edit</a>
          <a href="/students/41" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>42</td>
        <td><a href="/students/42">Ms. Elouise Lebsack</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>albin@wunsch.info</td>
        <td>Leuschke, Runte and Hauck</td>
        <td>Mr. Johnnie Dibbert</td>
        <td>353 Harvey Fall</td>
        <td>Kunzeton</td>
        <td>Wyoming</td>
        <td>
          <a href="/students/42/edit" class="btn btn-mini">Edit</a>
          <a href="/students/42" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>43</td>
        <td><a href="/students/43">Laurie Haag</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>gunnar.altenwerth@simonis.org</td>
        <td>Dickens, Parisian and Kirlin</td>
        <td>Miss Lauriane Corwin</td>
        <td>9436 Alvis Dale</td>
        <td>New Elnaview</td>
        <td>Alaska</td>
        <td>
          <a href="/students/43/edit" class="btn btn-mini">Edit</a>
          <a href="/students/43" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>44</td>
        <td><a href="/students/44">Raul Jerde</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>joseph.pfannerstill@rolfsondickens.org</td>
        <td>Jacobs-Bechtelar</td>
        <td>Dr. Marley Green</td>
        <td>48632 Paxton Glen</td>
        <td>Leannonborough</td>
        <td>Vermont</td>
        <td>
          <a href="/students/44/edit" class="btn btn-mini">Edit</a>
          <a href="/students/44" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>45</td>
        <td><a href="/students/45">Jules D'Amore Jr.</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>thelma@gutmann.biz</td>
        <td>Hills, Gaylord and Kirlin</td>
        <td>Athena Weimann</td>
        <td>357 Jaskolski Forge</td>
        <td>Lake Jacinthe</td>
        <td>Vermont</td>
        <td>
          <a href="/students/45/edit" class="btn btn-mini">Edit</a>
          <a href="/students/45" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>46</td>
        <td><a href="/students/46">Xavier Heidenreich</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>sarina.kunze@rueljacobi.com</td>
        <td>Grady Inc</td>
        <td>Elbert Mertz</td>
        <td>483 Marvin Views</td>
        <td>East Hayliefurt</td>
        <td>Georgia</td>
        <td>
          <a href="/students/46/edit" class="btn btn-mini">Edit</a>
          <a href="/students/46" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>47</td>
        <td><a href="/students/47">Dr. Kolby Brakus</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>courtney.mante@leannonjacobi.net</td>
        <td>Stoltenberg, Parisian and Pollich</td>
        <td>Markus Von III</td>
        <td>8563 Breitenberg Route</td>
        <td>South Rickyland</td>
        <td>Massachusetts</td>
        <td>
          <a href="/students/47/edit" class="btn btn-mini">Edit</a>
          <a href="/students/47" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>48</td>
        <td><a href="/students/48">Selina Johnson Sr.</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>myra@swift.name</td>
        <td>Beier-Mertz</td>
        <td>Luis Bailey</td>
        <td>385 Huels Parks</td>
        <td>Corkeryburgh</td>
        <td>Kansas</td>
        <td>
          <a href="/students/48/edit" class="btn btn-mini">Edit</a>
          <a href="/students/48" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>49</td>
        <td><a href="/students/49">Jabari Anderson</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>domenica@schoen.org</td>
        <td>Bergstrom, Corwin and Hagenes</td>
        <td>Myrl Spinka</td>
        <td>281 Mireille Roads</td>
        <td>South Bayleefurt</td>
        <td>California</td>
        <td>
          <a href="/students/49/edit" class="btn btn-mini">Edit</a>
          <a href="/students/49" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>50</td>
        <td><a href="/students/50">Kasandra Quigley DVM</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>billie.luettgen@barton.com</td>
        <td>Leffler Inc</td>
        <td>Molly Mitchell</td>
        <td>8577 Erna Corner</td>
        <td>North Hopeshire</td>
        <td>Florida</td>
        <td>
          <a href="/students/50/edit" class="btn btn-mini">Edit</a>
          <a href="/students/50" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>51</td>
        <td><a href="/students/51">Mr. Marcellus Wisozk</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>lia_oconnell@yostconsidine.name</td>
        <td>Moen Inc</td>
        <td>Shanna Torp</td>
        <td>7263 Champlin Manors</td>
        <td>North Kaciburgh</td>
        <td>Pennsylvania</td>
        <td>
          <a href="/students/51/edit" class="btn btn-mini">Edit</a>
          <a href="/students/51" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>52</td>
        <td><a href="/students/52">Yadira Pollich Jr.</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>berta_kutch@glover.org</td>
        <td>Swaniawski Inc</td>
        <td>Rosario Simonis</td>
        <td>850 Mitchell Tunnel</td>
        <td>Walterfurt</td>
        <td>Minnesota</td>
        <td>
          <a href="/students/52/edit" class="btn btn-mini">Edit</a>
          <a href="/students/52" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>53</td>
        <td><a href="/students/53">Miss Cruz Gutmann</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>savanna@hane.com</td>
        <td>Blanda, Wintheiser and Sawayn</td>
        <td>Abigail Davis</td>
        <td>7850 Funk Station</td>
        <td>Willowshire</td>
        <td>Colorado</td>
        <td>
          <a href="/students/53/edit" class="btn btn-mini">Edit</a>
          <a href="/students/53" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>54</td>
        <td><a href="/students/54">Dr. Jerald Mann</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>shanon@ernsermurazik.biz</td>
        <td>Jakubowski Inc</td>
        <td>Mrs. Lottie Feest</td>
        <td>66986 Abagail Course</td>
        <td>Rickberg</td>
        <td>Wyoming</td>
        <td>
          <a href="/students/54/edit" class="btn btn-mini">Edit</a>
          <a href="/students/54" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>55</td>
        <td><a href="/students/55">Jailyn Kuphal</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>jensen@schmelermante.name</td>
        <td>Carter Group</td>
        <td>Oma Beier</td>
        <td>9616 Catharine Lights</td>
        <td>East Chaneltown</td>
        <td>Tennessee</td>
        <td>
          <a href="/students/55/edit" class="btn btn-mini">Edit</a>
          <a href="/students/55" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>56</td>
        <td><a href="/students/56">Ms. Destany Moen</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>carol_mayert@strosinoreilly.name</td>
        <td>Bailey-Johnston</td>
        <td>Ms. Athena Marvin</td>
        <td>656 Bogan Expressway</td>
        <td>Ciaraland</td>
        <td>South Carolina</td>
        <td>
          <a href="/students/56/edit" class="btn btn-mini">Edit</a>
          <a href="/students/56" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>57</td>
        <td><a href="/students/57">Kenya Macejkovic II</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>marjolaine@thompson.com</td>
        <td>Tillman LLC</td>
        <td>Derick Hackett</td>
        <td>9353 Adelia Turnpike</td>
        <td>New Lucyberg</td>
        <td>Iowa</td>
        <td>
          <a href="/students/57/edit" class="btn btn-mini">Edit</a>
          <a href="/students/57" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>58</td>
        <td><a href="/students/58">Rachel Pagac</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>dominic@kovacekbailey.biz</td>
        <td>Ledner-Boyle</td>
        <td>Mark Schneider</td>
        <td>6499 Rowe Gateway</td>
        <td>Benjaminville</td>
        <td>California</td>
        <td>
          <a href="/students/58/edit" class="btn btn-mini">Edit</a>
          <a href="/students/58" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>59</td>
        <td><a href="/students/59">Melyssa Parisian</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>maximilian.daugherty@koelpin.net</td>
        <td>Moore-Mayert</td>
        <td>Anya Hegmann</td>
        <td>161 Lilla Loaf</td>
        <td>Hermannborough</td>
        <td>Michigan</td>
        <td>
          <a href="/students/59/edit" class="btn btn-mini">Edit</a>
          <a href="/students/59" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>60</td>
        <td><a href="/students/60">Remington Hermann</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>jeffrey@hartmannlarkin.com</td>
        <td>Bruen, O'Keefe and Kuhn</td>
        <td>Domenic Franecki</td>
        <td>330 Nayeli Mount</td>
        <td>West Jamie</td>
        <td>Mississippi</td>
        <td>
          <a href="/students/60/edit" class="btn btn-mini">Edit</a>
          <a href="/students/60" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>61</td>
        <td><a href="/students/61">Ms. Lois Renner</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>ines@metz.info</td>
        <td>Wiegand-Wilderman</td>
        <td>Ms. Kaitlin Schultz</td>
        <td>4313 Christiansen Parks</td>
        <td>Gissellefort</td>
        <td>Indiana</td>
        <td>
          <a href="/students/61/edit" class="btn btn-mini">Edit</a>
          <a href="/students/61" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>62</td>
        <td><a href="/students/62">Major Hintz</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>tanner_hane@rutherfordgottlieb.biz</td>
        <td>Upton, Hills and Murphy</td>
        <td>Carleton Considine</td>
        <td>787 Block Ranch</td>
        <td>Ahmadberg</td>
        <td>Oklahoma</td>
        <td>
          <a href="/students/62/edit" class="btn btn-mini">Edit</a>
          <a href="/students/62" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>63</td>
        <td><a href="/students/63">Andre Kuphal III</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>ocie.damore@heelkilback.net</td>
        <td>Wintheiser-Lesch</td>
        <td>Nakia Runte</td>
        <td>797 Derek Vista</td>
        <td>Westview</td>
        <td>New Jersey</td>
        <td>
          <a href="/students/63/edit" class="btn btn-mini">Edit</a>
          <a href="/students/63" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>64</td>
        <td><a href="/students/64">Eloy Reilly</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>gideon_frami@lednerfeil.net</td>
        <td>Kuhlman LLC</td>
        <td>Dr. Rozella Dibbert</td>
        <td>86817 Cassidy Walks</td>
        <td>New Mozell</td>
        <td>Florida</td>
        <td>
          <a href="/students/64/edit" class="btn btn-mini">Edit</a>
          <a href="/students/64" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>65</td>
        <td><a href="/students/65">Emilio Kuhlman</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>virginie@farrell.org</td>
        <td>Hodkiewicz, Wuckert and Emard</td>
        <td>Mr. Arne Schulist</td>
        <td>70531 John Point</td>
        <td>Luettgenmouth</td>
        <td>Utah</td>
        <td>
          <a href="/students/65/edit" class="btn btn-mini">Edit</a>
          <a href="/students/65" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>66</td>
        <td><a href="/students/66">Nick Johnston</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>ayana@rutherford.name</td>
        <td>Hermann-Jerde</td>
        <td>Arthur Hyatt</td>
        <td>2143 Feest Ville</td>
        <td>East Adonishaven</td>
        <td>Vermont</td>
        <td>
          <a href="/students/66/edit" class="btn btn-mini">Edit</a>
          <a href="/students/66" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>67</td>
        <td><a href="/students/67">Dillon Corwin</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>henriette@jacobs.biz</td>
        <td>Corkery-Aufderhar</td>
        <td>Dr. Madelynn Balistreri</td>
        <td>497 Walton Viaduct</td>
        <td>Quincyburgh</td>
        <td>Illinois</td>
        <td>
          <a href="/students/67/edit" class="btn btn-mini">Edit</a>
          <a href="/students/67" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>68</td>
        <td><a href="/students/68">Cornelius Goyette</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>catherine@rosenbaum.org</td>
        <td>Parisian-Shanahan</td>
        <td>Hettie Dickens</td>
        <td>529 Delphia Expressway</td>
        <td>Percyland</td>
        <td>New Mexico</td>
        <td>
          <a href="/students/68/edit" class="btn btn-mini">Edit</a>
          <a href="/students/68" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>69</td>
        <td><a href="/students/69">Orlo Kulas</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>zula@goodwin.com</td>
        <td>O'Conner-Hayes</td>
        <td>Dr. Ramiro Moore</td>
        <td>4491 Greenholt Greens</td>
        <td>Busterville</td>
        <td>California</td>
        <td>
          <a href="/students/69/edit" class="btn btn-mini">Edit</a>
          <a href="/students/69" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>70</td>
        <td><a href="/students/70">Krystel Kertzmann</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>delilah.cronin@gottliebwintheiser.org</td>
        <td>Purdy Inc</td>
        <td>Mikayla Fay Jr.</td>
        <td>828 Retha Walks</td>
        <td>Runolfsdottirton</td>
        <td>Vermont</td>
        <td>
          <a href="/students/70/edit" class="btn btn-mini">Edit</a>
          <a href="/students/70" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>71</td>
        <td><a href="/students/71">Mrs. Tatyana Wiegand</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>noel@marvin.com</td>
        <td>Denesik, Willms and Kerluke</td>
        <td>Zack Kub</td>
        <td>824 Lily Crossing</td>
        <td>Birdieburgh</td>
        <td>Georgia</td>
        <td>
          <a href="/students/71/edit" class="btn btn-mini">Edit</a>
          <a href="/students/71" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>72</td>
        <td><a href="/students/72">Mina Ritchie</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>claire.sawayn@ko.biz</td>
        <td>Dickens-Jacobs</td>
        <td>Winnifred Kuvalis</td>
        <td>69546 Garrett Stravenue</td>
        <td>Watsonfurt</td>
        <td>Louisiana</td>
        <td>
          <a href="/students/72/edit" class="btn btn-mini">Edit</a>
          <a href="/students/72" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>73</td>
        <td><a href="/students/73">Miss Russ Thompson</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>gina.morar@pollichbrekke.info</td>
        <td>Emard Inc</td>
        <td>Alfredo Stracke</td>
        <td>4581 Pfannerstill Centers</td>
        <td>Elmoville</td>
        <td>Kansas</td>
        <td>
          <a href="/students/73/edit" class="btn btn-mini">Edit</a>
          <a href="/students/73" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>74</td>
        <td><a href="/students/74">Lucious Baumbach</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>brandt.langworth@reichert.org</td>
        <td>Schroeder Group</td>
        <td>Ward Hegmann</td>
        <td>801 Elmer Turnpike</td>
        <td>McClureland</td>
        <td>Tennessee</td>
        <td>
          <a href="/students/74/edit" class="btn btn-mini">Edit</a>
          <a href="/students/74" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>75</td>
        <td><a href="/students/75">Rosalind Tromp</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>dale@welch.net</td>
        <td>Mraz-Rodriguez</td>
        <td>Kendall Wehner</td>
        <td>22932 Parisian Groves</td>
        <td>Feeneyhaven</td>
        <td>Indiana</td>
        <td>
          <a href="/students/75/edit" class="btn btn-mini">Edit</a>
          <a href="/students/75" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>76</td>
        <td><a href="/students/76">Garret Reichel DVM</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>malika_keebler@halvorson.com</td>
        <td>Turcotte, Fritsch and Bashirian</td>
        <td>Jorge Dickens DVM</td>
        <td>23957 Brennon Springs</td>
        <td>Fidelfurt</td>
        <td>Maine</td>
        <td>
          <a href="/students/76/edit" class="btn btn-mini">Edit</a>
          <a href="/students/76" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>77</td>
        <td><a href="/students/77">Katheryn Schiller</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>beie@langoshgerlach.info</td>
        <td>Jones, Schmeler and Oberbrunner</td>
        <td>Torey Boehm</td>
        <td>98729 Enrico Pike</td>
        <td>New Rickieville</td>
        <td>Alabama</td>
        <td>
          <a href="/students/77/edit" class="btn btn-mini">Edit</a>
          <a href="/students/77" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>78</td>
        <td><a href="/students/78">Milton Aufderhar</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>carlo_pollich@bayer.net</td>
        <td>Gutkowski-Kessler</td>
        <td>Pinkie Graham</td>
        <td>964 Axel Locks</td>
        <td>West Gregoria</td>
        <td>North Dakota</td>
        <td>
          <a href="/students/78/edit" class="btn btn-mini">Edit</a>
          <a href="/students/78" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>79</td>
        <td><a href="/students/79">Miracle Kuvalis</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>alfonzo@abernathyhuels.name</td>
        <td>Wiza-Mayert</td>
        <td>Neal McKenzie</td>
        <td>7783 Leonardo Branch</td>
        <td>South Ethelynstad</td>
        <td>Missouri</td>
        <td>
          <a href="/students/79/edit" class="btn btn-mini">Edit</a>
          <a href="/students/79" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>80</td>
        <td><a href="/students/80">Gregoria Vandervort</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>christian_wolf@luettgenking.net</td>
        <td>Mraz-Runte</td>
        <td>Miss Jaquelin Christiansen</td>
        <td>67115 Quigley Landing</td>
        <td>Robelview</td>
        <td>Connecticut</td>
        <td>
          <a href="/students/80/edit" class="btn btn-mini">Edit</a>
          <a href="/students/80" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>81</td>
        <td><a href="/students/81">Saige Kemmer</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>bettie@auer.org</td>
        <td>Koelpin-Lemke</td>
        <td>Jaden Hoeger DDS</td>
        <td>70113 Virginie Lake</td>
        <td>Port Elenor</td>
        <td>Oklahoma</td>
        <td>
          <a href="/students/81/edit" class="btn btn-mini">Edit</a>
          <a href="/students/81" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>82</td>
        <td><a href="/students/82">Carmel Strosin DVM</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>price@cartwright.name</td>
        <td>Pouros Inc</td>
        <td>Miss Ryleigh Mayer</td>
        <td>4568 Kuphal Fords</td>
        <td>East Vicente</td>
        <td>Minnesota</td>
        <td>
          <a href="/students/82/edit" class="btn btn-mini">Edit</a>
          <a href="/students/82" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>83</td>
        <td><a href="/students/83">Jett Beer</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>delpha@herzog.name</td>
        <td>McKenzie-Tromp</td>
        <td>Ed Davis</td>
        <td>57499 Merlin Cape</td>
        <td>Port Violettebury</td>
        <td>North Carolina</td>
        <td>
          <a href="/students/83/edit" class="btn btn-mini">Edit</a>
          <a href="/students/83" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>84</td>
        <td><a href="/students/84">Anahi Hermiston</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>kamren_ryan@dubuque.name</td>
        <td>Lindgren and Sons</td>
        <td>Ashlee Kautzer</td>
        <td>11718 Bradtke Prairie</td>
        <td>North Ova</td>
        <td>Alaska</td>
        <td>
          <a href="/students/84/edit" class="btn btn-mini">Edit</a>
          <a href="/students/84" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>85</td>
        <td><a href="/students/85">Bernardo Schultz</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>mauricio@schiller.org</td>
        <td>Reilly Group</td>
        <td>Adrien Goodwin</td>
        <td>2511 Melyna Coves</td>
        <td>Jovanymouth</td>
        <td>Vermont</td>
        <td>
          <a href="/students/85/edit" class="btn btn-mini">Edit</a>
          <a href="/students/85" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>86</td>
        <td><a href="/students/86">Simeon Zieme</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>cristopher@christiansen.org</td>
        <td>Mitchell-Trantow</td>
        <td>Monroe Boyer</td>
        <td>33311 Schimmel Fort</td>
        <td>Dorthashire</td>
        <td>Missouri</td>
        <td>
          <a href="/students/86/edit" class="btn btn-mini">Edit</a>
          <a href="/students/86" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>87</td>
        <td><a href="/students/87">Mrs. Cassie Beatty</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>roger@greenholtohara.name</td>
        <td>Aufderhar-Weimann</td>
        <td>Clarissa Harvey</td>
        <td>8797 Ziemann Manor</td>
        <td>Mikemouth</td>
        <td>Tennessee</td>
        <td>
          <a href="/students/87/edit" class="btn btn-mini">Edit</a>
          <a href="/students/87" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>88</td>
        <td><a href="/students/88">Mrs. Princess Lang</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>liliane_herzog@eberthowe.net</td>
        <td>Block, Rempel and Streich</td>
        <td>Micheal Pfannerstill</td>
        <td>1574 Dusty Unions</td>
        <td>Danielfort</td>
        <td>Nebraska</td>
        <td>
          <a href="/students/88/edit" class="btn btn-mini">Edit</a>
          <a href="/students/88" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>89</td>
        <td><a href="/students/89">Francesco Prosacco DVM</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>philip@goldner.name</td>
        <td>Shanahan-Nader</td>
        <td>Marian Witting</td>
        <td>14602 Terry Inlet</td>
        <td>Joanieberg</td>
        <td>Ohio</td>
        <td>
          <a href="/students/89/edit" class="btn btn-mini">Edit</a>
          <a href="/students/89" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>90</td>
        <td><a href="/students/90">Gene Padberg</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>loyal_homenick@connelly.info</td>
        <td>Grant-Lubowitz</td>
        <td>Magali Strosin</td>
        <td>569 Everardo Locks</td>
        <td>Schadenport</td>
        <td>Arkansas</td>
        <td>
          <a href="/students/90/edit" class="btn btn-mini">Edit</a>
          <a href="/students/90" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>91</td>
        <td><a href="/students/91">Amalia Breitenberg DVM</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>lulu_effertz@vonrueden.info</td>
        <td>Ryan-Price</td>
        <td>Gabrielle O'Reilly</td>
        <td>7873 Sarina Points</td>
        <td>Lake Callie</td>
        <td>Florida</td>
        <td>
          <a href="/students/91/edit" class="btn btn-mini">Edit</a>
          <a href="/students/91" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>92</td>
        <td><a href="/students/92">Jefferey Halvorson</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>presley@maggio.com</td>
        <td>Boyer-Feil</td>
        <td>Hallie Wisozk</td>
        <td>5266 Napoleon Glens</td>
        <td>North Maximilianview</td>
        <td>Kentucky</td>
        <td>
          <a href="/students/92/edit" class="btn btn-mini">Edit</a>
          <a href="/students/92" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>93</td>
        <td><a href="/students/93">Euna Labadie MD</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>lonzo@larkin.info</td>
        <td>Halvorson, Bruen and Kuhlman</td>
        <td>Nelda Gerlach</td>
        <td>1933 Beahan Ways</td>
        <td>Parisiantown</td>
        <td>New Mexico</td>
        <td>
          <a href="/students/93/edit" class="btn btn-mini">Edit</a>
          <a href="/students/93" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>94</td>
        <td><a href="/students/94">Marian Reynolds</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>anjali@weber.biz</td>
        <td>Hamill, Daugherty and Romaguera</td>
        <td>Kane Morissette</td>
        <td>5375 Al Estates</td>
        <td>Wizaville</td>
        <td>New Mexico</td>
        <td>
          <a href="/students/94/edit" class="btn btn-mini">Edit</a>
          <a href="/students/94" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>95</td>
        <td><a href="/students/95">Tomasa Jast DDS</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>dee@raynor.com</td>
        <td>Schaefer, Kessler and Lueilwitz</td>
        <td>Rosella Mann</td>
        <td>79342 Jasmin Crescent</td>
        <td>Kesslerborough</td>
        <td>California</td>
        <td>
          <a href="/students/95/edit" class="btn btn-mini">Edit</a>
          <a href="/students/95" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>96</td>
        <td><a href="/students/96">Danny Sanford</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>alden_haag@gottlieb.info</td>
        <td>Lang-Koch</td>
        <td>Ms. Einar Lowe</td>
        <td>97551 Elliott Isle</td>
        <td>North Mathias</td>
        <td>Wisconsin</td>
        <td>
          <a href="/students/96/edit" class="btn btn-mini">Edit</a>
          <a href="/students/96" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>97</td>
        <td><a href="/students/97">Dr. Vicky DuBuque</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>gus_jaskolski@hammes.org</td>
        <td>Stoltenberg Group</td>
        <td>Monique Kuhn</td>
        <td>1919 Goodwin Burgs</td>
        <td>Dulcemouth</td>
        <td>Kansas</td>
        <td>
          <a href="/students/97/edit" class="btn btn-mini">Edit</a>
          <a href="/students/97" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>98</td>
        <td><a href="/students/98">America Skiles</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>alek@maggio.name</td>
        <td>Yost Group</td>
        <td>Heloise Streich</td>
        <td>5117 Scottie Burg</td>
        <td>Port Mya</td>
        <td>Connecticut</td>
        <td>
          <a href="/students/98/edit" class="btn btn-mini">Edit</a>
          <a href="/students/98" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
      <tr>
        <td>99</td>
        <td><a href="/students/99">Ms. Jensen Grimes</a></td>
        <td>2012-03-19 15:06:08 UTC</td>
        <td>jackie_bechtelar@kerlukejast.com</td>
        <td>Kertzmann, Hilll and Effertz</td>
        <td>Logan Ratke</td>
        <td>80246 Nakia Plains</td>
        <td>Gastonshire</td>
        <td>Georgia</td>
        <td>
          <a href="/students/99/edit" class="btn btn-mini">Edit</a>
          <a href="/students/99" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Archive</a>
        </td>
      </tr>
  </tbody>
</table>
