<h2><%= @header_title %></h2>
<p>An example of form elements.</p>
<form class="form-inline">
  <input type="submit" value="Withdraw" class="btn btn-small">
  <label class="left-15">Withdraw this application for graduation</label>
  <p class="pull-right required"><span>*</span> required fields</p>
</form>

<hr style="border: 2px solid #f26432;" />

