<h2>Layouts</h2>

<div class="show-grid">
  <div class="row">
    <div class="span2 light-blue-background padding10">.span2</div>
    <div class="span8 light-blue-background padding10">.span8</div>
  </div>
</div>

<hr />

<div class="show-grid">
  <div class="row">
    <div class="span3 light-blue-background padding10">.span2</div>
    <div class="span7 light-blue-background padding10">.span8</div>
  </div>
</div>

<hr />

<div class="show-grid">
  <div class="row">
    <div class="span4 light-blue-background padding10">.span2</div>
    <div class="span6 light-blue-background padding10">.span8</div>
  </div>
</div>

<hr />

<div class="show-grid">
  <div class="row">
    <div class="span5 light-blue-background padding10">.span2</div>
    <div class="span5 light-blue-background padding10">.span8</div>
  </div>
</div>

<hr />

<div class="show-grid">
  <div class="row">
    <div class="span2 light-blue-background padding10">.span2</div>
    <div class="span2 light-blue-background padding10">.span8</div>
    <div class="span6 light-blue-background padding10">.span8</div>
    
  </div>
</div>

<hr />

<div class="show-grid">
  <div class="row">
    <div class="span3 light-blue-background padding10">.span2</div>
    <div class="span3 light-blue-background padding10">.span8</div>
    <div class="span4 light-blue-background padding10">.span8</div>
    
  </div>
</div>

