<style>
  .container {width:940px;}
</style>

<h2>Layouts</h2>

<div class="show-grid padding10-30">
  <div class="row">
    <div class="span2 light-blue-background padding10">.span2</div>
    <div class="span8 light-blue-background padding10">.span8</div>
  </div>
</div>

<hr />

<div class="show-grid padding10-30">
  <div class="row">
    <div class="span3 light-blue-background padding10">.span3</div>
    <div class="span7 light-blue-background padding10">.span7</div>
  </div>
</div>

<hr />

<div class="show-grid padding10-30">
  <div class="row">
    <div class="span4 light-blue-background padding10">.span4</div>
    <div class="span6 light-blue-background padding10">.span6</div>
  </div>
</div>

<hr />

<div class="show-grid padding10-30">
  <div class="row">
    <div class="span5 light-blue-background padding10">.span5</div>
    <div class="span5 light-blue-background padding10">.span5</div>
  </div>
</div>

<hr />

<div class="show-grid padding10-30">
  <div class="row">
    <div class="span6 light-blue-background padding10">.span6</div>
    <div class="span4 light-blue-background padding10">.span4</div>
  </div>
</div>

<hr />

<div class="show-grid padding10-30">
  <div class="row">
    <div class="span7 light-blue-background padding10">.span7</div>
    <div class="span3 light-blue-background padding10">.span3</div>
  </div>
</div>

<hr />


<div class="show-grid padding10-30">
  <div class="row">
    <div class="span8 light-blue-background padding10">.span8</div>
    <div class="span2 light-blue-background padding10">.span2</div>
  </div>
</div>



