<h2>No Tab Layout</h2>
<hr/>
<p>Go back to <a href="/">index</a></p>

<pre class="prettyprint code">
    &lt;div class="container"&gt;
      &lt;div id="header"&gt;
        &lt;img alt="Winona State University" id="logo" src="/assets/logo2.png" /&gt;
        &lt;div class="pull-right" id="welcome"&gt;
        &lt;h5&gt;Welcome, Namehere | Logout&lt;/h5&gt;
        &lt;h5&gt;&lt;span&gt;Technical Support: 507-555-5555&lt;/span&gt;&lt;/h5&gt;
        &lt;h1&gt;Index: Main Application Layout&lt;/h1&gt;
      &lt;/div&gt;
    &lt;/div&gt;
</pre>