<h2>Override</h2>
<p>Override bar code.</p>

<pre class="prettyprint code">
  &lt;div id="override"&gt;
     &lt;div class="container" &gt;
       &lt;div class="control-group"&gt;
       &lt;form class="form-inline top-10" &gt;
         &lt;label class="right-15"&gt;Override as:&lt;span&gt;*&lt;/span&gt;&lt;/label&gt;
         &lt;input type="text" /&gt;
         &lt;i class="icon-info-sign left-15"&gt;&lt;/i&gt;
         &lt;input type="submit" value="Update" class="btn btn-small left-15"&gt; 
       &lt;/form&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
</pre>
