<h2>WSU Development Style Guide</h2>


<h3>Capitalization &mdash; general</h3>
<p>Capitalize first letter of sentence (sentence cap/sentence case) in most copy with these exceptions
<blockquote>Capitalize first letter (title cap/title case) of each word in nav and tab headings<br />
Title cap titles of books, games, movies, songs, lectures, speeches and works of art</blockquote>
In general, avoid ALL CAPS for most copy<br />
Addresses on envelopes should print in ALL CAPs; no punctuation except hyphen in 9-digit ZIP code</p>

<h3>Capitalization &mdash; academic titles and departments</h3>
<p>Capitalize people's titles when the title precedes the name, but lowercase titles that follow a name
	<blockquote><em>President Ramaley delivered the address.<br />
	Judith Ramaley, the president, delivered the address.</em></blockquote></p>
<p>Capitalize titles in front and after the name in programs for events and in formal documents such as diplomas<br />
Don't capitalize job descriptions: coach, lawyer, art director, analyst<br />
Capitalize the first word after a colon only if it is a proper noun or the start of a complete sentence</p>
	<blockquote><em>He promised this: The company will make good all the losses.<br />
	There were three considerations: expense, time and feasibility.</em></blockquote>
<p>Capitalize names of departments, colleges, offices, committees, organizations, societies, centers, and boards when references in full or in tables or lists<br />
  Lower case in body copy when not referenced in full<br />
	<blockquote><em>Richard Ford, chair of the Department of English, opened the meeting.<br />
	He has been chair of the department since 1985.</em></blockquote></p>
<p>Do not capitalized terms designating academic semesters and years unless in tables or lists 
	Jo March, a freshman, will graduate in spring 2008.</p>

<h3>Serial comma</h3>
<p>It is the Winona State convention to use the serial comma (the final comma before the conjunction) in a series<br />
	<blockquote><em>There were students, faculty, and staff in attendance.</em></blockquote></p>

<h3>Numbers in non-tabular use</h3>
<p>Spell out numbers if they begin a sentence unless the number is a year<br />
Spell out numbers under 10 with these exceptions in which numerals should always be used
	<blockquote>Addresses: 3 West Hill Ave.<br />
Ages: John is 21 years old.<br />
Money: 5 cents; $9.95; $9 (not $9.00)<br />
Dates: Nov 4 or November 4<br />
Dimensions: 6 feet tall; 6-by-9 rug; 6"; 6'<br />
Highways: U.S. Route 5; state Hwy. 5; Interstate 69; I-90<br />
Percentages: 1%; 0.3% (use the zero for percentages smaller than 1)<br />
Millions, billions: $15 million building; $6.8 million contract<br />
Proportions: 6 parts water<br />
Speed: 5 miles per hour; 5 MPH; 5 mph<br />
Temperatures: 7 degrees<br />
Times: 1:30 am; noon; midnight; 6 pm (not 6:00 pm); 2 pm CT (not CDT or CST)</blockquote>
In most lists, use decimal alignment</p>

<h3>Punctuation</h3>
<p><em>In general, where space is at a premium such as forms, alerts, tabular material etc, omit most punctuation unless necessary for clarity</em><br />
Don't use a period after a headline<br />
Avoid colons after headlines, subheads, list headings<br />
Don't use periods in acronyms unless necessary for clarity<br /> 
	<blockquote><em>USA, PhD, MS, BA, GPA,  and U.S.</em></blockquote>
<p>Use a single space after the period at the end of a sentence<br />
Don't use periods in month or state abbreviations</p>
	<blockquote>Nov 24, Dec 31</blockquote>
<p>For time, lowercase am and pm and do not use periods<br />
Drop :00 for on-the-hour time</p>
	<blockquote><em>10 to 11:30 am</em></blockquote>
If space allows, in non-tabular format use noon or midnight for 12 pm and 12 am<br />
Use hyphens instead of periods in phone numbers; no parenthesis around area codes</p>

<h3>State names</h3>
<p>Spell out state names in sentences<br /> 
Use postal codes only as part of full addresses or if needed for space in tabular data</p>

<h3>Glossary</h3>
<p>alumnus/emeritus &mdash; singular male<br />
alumna/emerita &mdash; singular female<br />
alumni/emeriti &mdash; plural male or mixed group<br />
alumnae/emeritae &mdash; plural female<br />
bachelor's, master's degrees, master of science degree<br />
website (use www prefix consistently)<br />
email<br />
advisor<br />
course work<br />
database<br />
fund-raising<br />
healthcare<br />
theatre major<br />
toll free but toll-free as a modifier<br />
Social Security number or SSN (capped as shown)<br />
ZIP code or ZIP (capped as shown); postal code for international audiences<br />
</p>

<h3>Alert language</h3>
<p><strong>Error! </strong>You did this and you must do that.<br />
<strong>Warning!</strong> This will happen if you do this.<br />
<strong>Tip</strong> Do this.<br />
<strong>Thank you</strong> You did this.<br />
<strong>Finished</strong> You successfully completed this.<br />
Do not show this again.<br />
</p>

<h3>Button language</h3>
<p>Save<br />
Cancel<br />
Withdraw<br />
Search<br />
Continue<br />
Finish<br />
Archive<br />
Remove<br />
Submit<br />
Help<br />
First, Prev, Next, Last
</p>

