@import "bootstrap";

/* Colors */
.purple                 {color:#4814a0;}
.purple-background      {background-color:#4814a0;}
.orange                 {color:#f26432;}
.orange-background      {background-color:#f26432;}
.blue                   {color:#00aef0;}
.blue-background        {background-color:#00aef0;}
.light-blue             {color:#e5f7fd;}
.light-blue-background  {background-color:#e5f7fd;}
.yellow                 {color:#fef7a6;}
.yellow-background      {background-color:#fef7a6}
.white                  {color:#ffffff;}

.padding10 {padding:10px;}
.padding20 {padding:20px;}
/*.padding10-30 {padding:10px 30px;}*/
.center {text-align:center;}


body {background:url('../assets/top_bg2.jpg') 0 0 repeat-x #4814a0;font-family:Arial, Helvetica, Arial, sans-serif;}/*{background:url('../assets/top_bg.jpg') 0 0 repeat-x #4814a0;}*/
body, p, label {color:#676767;font-family:Arial, Helvetica, Arial, sans-serif;}
hr {border: 2px solid #f26432;margin:15px 0 15px 0;}
caption {text-align:left;}
.fl-cont-padding {padding:40px;}

#header {display:block;width:100%;height:175px;color:#ffffff;}
#header img#logo {margin-left:-17px;margin-top:38px;}
#header div#welcome {text-align:right;margin-top:44px;color:#ffffff;}
#header div#welcome h1 {font-size:32px;font-weight:400;margin-top:2px;}
#header div#welcome h5 {font-size:12pt;font-weight:500;margin-top:2px;}
#header div#welcome span {font-weight:200;}

#navigation {display:block;margin-top:-34px;}
#navigation .nav-tabs {border-bottom: 1px solid transparent;font-size:14px;font-weight:500;}
#navigation .nav-tabs > li > a {background-color:#f26432;color:#ffffff;margin-right:3px;border-color:transparent;border-bottom:1px solid #00aef0;}
#navigation .nav-tabs > li > a:hover {background-color:#00aef0;color:#ffffff;border-color:transparent;}
#navigation .nav-tabs > .active > a, .nav-tabs > .active > a:hover {background-color:#00aef0;}

#sub-navigation {display:block;width:100%;height:30px;background-color:#00aef0;margin-top:-19px;padding:0;}
#sub-navigation ul {display:block;padding:0;margin:0 auto 1em 0px;line-height:30px;}
#sub-navigation ul li { display:inline;padding:0;margin:0;}
#sub-navigation ul li a { padding:2px 1em 3px 1em;margin-right:-4px;border-right:1px solid #ffffff;color:#ffffff;}
#sub-navigation li:last-child a {border-right:none;}
#sub-navigation li.active a {color:#4814a0;}

.content {display:block;width:100%;min-height:500px;background-color:#ffffff;margin-top:-0px;}
/*.content .container {padding:30px 50px;width:880px;}*/
.content .container {padding:30px 50px;width:940px;}

/* Forms, labels, prompts */
.form-inline, .form-block {margin:28px 0 28px 0;}
.form-block-center {width:550px;margin:0 auto;}
.form-horizontal .control-group, .form-horizontal .control-group-error  {margin-bottom: 10px;*zoom: 1;}

.btn {font-size:12px;}
.btn-small {padding: 3px 25px;}
input, button, select, textarea {font-family: Arial, Helvetica, Arial, sans-serif;}

.radio {margin-top:4px;}
.checkbox {margin-top:4px;}
.left-15 {margin-left:15px;}
.right-15 {margin-right:15px;}

label span {color:#f26432;}
.required {font-style:italic;}
.required span {color:#f26432;}

.icon-info-sign, .icon-pencil {background-image: url("../assets/glyphicons-halflings-tr-gr.png");}
.next-arrow {display:block;width:15px;height:16px;float:right;margin:8px 0 0 8px;background:url("../assets/right-arrow.png") 0 0;}
.prev-arrow {display:block;width:15px;height:16px;float:left;margin:8px 8px 0 0px;background:url("../assets/left-arrow.png") 0 0;}

.pagination {text-align:center;}

/*Alerts */
.alert {background-color:#fef7a6;color:#f78f1e;}
.alert-error, .alert-danger {background-color:#f2dede;color: #b94a48;}
.alert-success {background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;}

/*Tables*/
.table-striped tbody tr:nth-child(even) td {background-color:#e5f7fd;}
thead, tbody th {background-color:#fef7a6;}

#override {display:block;width:100%;height:48px;background-color:#e2e1dd;padding:-20px;margin:0px;}

#footer {display:block;height:100px;width:960px;margin:0 auto 0 auto;color:#ffffff;}
#footer .pull-left {width:650px;}
#footer .pull-left h5 {margin-top:1em;}
#footer p {color:#ffffff;}
#footer .pull-left a {color:#ffffff;}


