@import "bootstrap";

body {background:url('../assets/top_bg.jpg') 0 0 repeat-x #ffffff;}

#header {display:block;width:100%;height:175px;color:#ffffff;}
#header img#logo {margin-left:-17px;margin-top:38px;}
#header div#welcome {text-align:right;margin-top:44px;color:#ffffff;}
#header div#welcome h1 {font-size:32px;font-weight:400;margin-top:2px;}
#header div#welcome h5 {font-size:12pt;font-weight:500;margin-top:2px;}
#header div#welcome span {font-weight:200;}

#navigation {display:block;margin-top:-35px;}
#navigation .nav-tabs {border-bottom: 1px solid #4814a0;}
#navigation .nav-tabs > li > a {background-color:#f26432;color:#ffffff;border-color:transparent;margin-right:3px;}
#navigation .nav-tabs > li > a:hover {background-color:#00aef0;color:black;border-color:transparent;}
#navigation .nav-tabs > .active > a, .nav-tabs > .active > a:hover {background-color:#00aef0;}

.container {}
